.hidden{display:none}
:root {
  --main-color: #00DCD8;
  --secondary-color: #E7F7F4;
  --main-font-regular: "Proxima Nova Alt Lt";
  --main-font-medium: "Proxima Nova Alt Bl";
  --main-font-light: "Proxima Nova Alt Bl";
  --main-font-bold: "Futura XBlk BT";
  --secondary-font-regular: "Proxima Nova Alt Bl";
  --third-font-regular: "Proxima Nova Alt Bl";
  --third-font-bold: "Futura XBlk BT";
  --section-pb: 100px;
  --section-pt: 100px;
  /* --section-pb: calc(1rem + 4.40vw);
  --section-pt: calc(1rem + 4.40vw); */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #1A1A1A;
}

.bold {
  font-family: var(--main-font-bold);
}
.-bold {
  font-weight: bold;
}
.font-regular {
  font-family: var(--main-font-regular);
}
.font-medium {
  font-family: var(--main-font-medium);
}
.font-light {
  font-family: var(--main-font-light);
}
.font-secondary-regular {
  font-family: var(--secondary-font-regular);
}
.font-third-bold {
  font-family: var(--third-font-bold);
}
.font-third-regular {
  font-family: var(--third-font-regular);
}

a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1196px;
  /* padding-left: calc(1rem + 9.6vw);
  padding-right: calc(1rem + 9.6vw); */
}

li {
  list-style: none;
}
ul {
  padding:0 ;
}
ul,
figure {
  margin: 0;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start !important;
}
.flex-end {
  justify-content: end ;
}

.uppercase {
  text-transform: uppercase;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  text-transform: none;
}

img.lazy {
  transition: 0.4s opacity ease;
  transition-delay: 0.2s;
}

img.lazy[src] {
  opacity: 1;
}

img.lazy:not([src]) {
  opacity: 0 !important;
}

.center {
  text-align: center;
}
.align {
  text-align: right;
}
.pre-line {
  white-space: pre-line;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}
.align-self {
  align-self: baseline;
}

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unicode {
  unicode-bidi: plaintext;
}

:focus {
  outline: none;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.overflow-hidden {
  overflow: hidden;
}

.trans {
  transition: 0.4s;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  white-space: nowrap;
}

.mr-70 {
  margin-right: 70px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-22 {
  margin-right: 22px;
}
.mr-18 {
  margin-right: 18px;
}
.mr-13 {
  margin-right: 13px;
}
.shadow {
  box-shadow: -9px 10px 79px #19A5942B;
}
.shadow-0 {
  box-shadow: none!important;
}
.p-side-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-side-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.p-side-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-side-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}
.main-color {
  color: var(--main-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.bg-main {
  background-color: var(--main-color);
}
.white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.white-i {
  color: #fff !important;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}
.font-22 {
  font-size: 22px;
}
.font-23 {
  font-size: 23px;
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-35 {
  font-size: 35px;
}
.font-40 {
  font-size: 40px;
}
.font-45 {
  font-size: 45px;
}
.font-50 {
  font-size: 50px;
}
.font-55 {
  font-size: 55px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-15 {
  border-radius: 15px;
}
.radius-30 {
  border-radius: 30px;
}
.rounded {
  border-radius: 50%;
}
.btn {
  background-color: var(--main-color);
  border-radius: 10px;
  transition: 0.4s;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

.bg-cover {
  background-size: cover !important;
}
.bg-soft {
  background-color: #D2DADC;
}
.object-fit {
  object-fit: cover;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-80 {
  margin-top: 80px;
}
.h-50 {
  height: 50%;
}
.h-100 {
  height: 100%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-48 {
  width: 48%;
}
.w-50 {
  width: 50%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}
.relative {
  position: relative;
}

.radius-11 {
  border-radius: 11px;
}
.radius-25 {
  border-radius: 25px;
}
.black-1 {
  color: #1A1A1A;
}
.gray-1 {
  color: #707070;
}
.m-side-auto {
  margin-left: auto;
  margin-right: auto;
}


.grid-2,
.grid-3,
.grid-4 {
  display: grid;
  gap: 25px;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) )!important; */
}
.animate {
  opacity: 0.4;
}
.video-modal .modal-body {
  background: transparent;
}
.gap-0 {
  gap: 0;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
.gap-30 {
  gap: 30px;
}
.gap-35 {
  gap: 35px;
}
.gap-40 {
  gap: 40px;
}
.gap-60 {
  gap: 60px;
}
.pointer {
  cursor: pointer;
}
.mo {
  display: none;
}
.line-38 {
  line-height: 38px;
}
.line-28 {
  line-height: 28px;
}
.line-22 {
  line-height: 22px;
}
.section-padding {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.modal.active {
  visibility: visible;
}
.modal:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* backdrop-filter: brightness(.5) blur(4px);
  -webkit-backdrop-filter: brightness(.5) blur(4px); */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgb(0 0 0 / 97%);
}
.modal-body {
  width: 700px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 11px;
  overflow-y: auto;
  max-height: 90vh;
  opacity: 0;
  /* transition: .3s; */
  visibility: hidden;
}
.modal.active .modal-body {
   opacity: 1;
   visibility: visible;
}
.form-modal .modal-body {
  padding: 40px 40px 32px 40px;
}
.form-modal .submit-modal,.submit-modal {
  height: 42px;
  width: 157px;
}

.overflow-hidden {
  overflow: hidden;
}
[data-toggle-tab]:not(.active) {
  display: none;
}

[data-toggle-tab].active {
  display: block !important;
}
@keyframes fade {
  to {
    opacity: 0.9;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.z-1 {
  position: relative;
  z-index: 1;
}
.modal.active:before {
  animation: fade 0.3s 1 ease-in-out forwards;
}

.one-line,
.three-line,
.five-line,
.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.two-line {
  -webkit-line-clamp: 2;
}
.three-line {
  -webkit-line-clamp: 3;
}
.five-line {
  -webkit-line-clamp: 5;
}
.custom-alert {
  position: fixed;
  z-index: 1000;
  top: -25%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 20px 10px;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  border-right: 4px solid var(--main-color);
  color: #Fff;
  font-size: 15px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
.custom-alert.active {
  top: 5%;
  visibility: visible;
  opacity: 1;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.form-group > label ~ br,.wpcf7-response-output {
  display: none;
}
.wpcf7-spinner {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 46px;
}
.header-menu a {
  color: #fff;
  font-size: 15px;
  transition: .4s;
}
.header-menu a:hover, .header-menu li.current-menu-item a {
  color: #000;
}
.underline {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .grid-3-t {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-2-t {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-1-t {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .container, .container-p {
    max-width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  :root {
    --section-pb: 50px;
    --section-pt: 50px;
  }
  .grid-1-p,.grid-2-p,.grid-3-p {
    display: grid;
  }
  .grid-1-p {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-p {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-p {
    grid-template-columns: repeat(3, 1fr);
  }
  .mo {
    display: block !important;
  }
  .do {
    display: none !important;
  }
  .wrap-p {
    flex-wrap: wrap;
  }
  .font-14-p {
    font-size: 14px;
  }
  .font-16-p {
    font-size: 16px;
  }
  .font-17-p {
    font-size: 17px;
  }
  .font-18-p {
    font-size: 18px;
  }
  .font-20-p {
    font-size: 20px;
  }
  .font-24-p {
    font-size: 24px;
  }
  .font-30-p {
    font-size: 30px;
  }
  .font-35-p {
    font-size: 35px;
  }
  .mr-0-p {
    margin-right: 0;
  }
  .ml-0-p {
    margin-left: 0;
  }
  .w-100-p {
    width: 100% !important;
  }
  .w-90-p {
    width: 90% !important;
  }
  .w-50-p {
    width: 50% !important;
  }
  .center-p {
    text-align: center;
  }
  .justify-center-p {
    justify-content: center;
  }
  .m-side-auto-p {
      margin-left: auto;
      margin-right: auto;
  }
  .p-0-p {
    padding: 0!important;
  }
  .pr-0-p {
    padding-right: 0;
  }
  .pt-0-p {
    padding-top: 0px;
  }
  .pt-10-p {
    padding-top: 10px;
  }
  .pt-20-p {
    padding-top: 20px;
  }
  .pt-30-p {
    padding-top: 30px;
  }
  .pt-40-p {
    padding-top: 20px;
  }
  .pt-50-p {
    padding-top: 50px;
  }
  .pt-60-p {
    padding-top: 60px;
  }
  .pt-80-p {
    padding-top: 80px;
  }
  
  .pb-0-p {
    padding-bottom: 0px;
  }
  .pb-20-p {
    padding-bottom: 20px;
  }
  .pb-50-p {
    padding-bottom: 50px;
  }
  .pl-0-p {
    padding-left: 0!important;
  }
  .ml-0-p {
    margin-left: 0;
  }
  .mb-0-p {
    margin-bottom: 0;
  }
  .mb-10-p {
    margin-bottom: 10px;
  }
  .mb-15-p {
    margin-bottom: 15px;
  }
  .mb-20-p {
    margin-bottom: 20px;
  }
  .mb-35-p {
    margin-bottom: 35px;
  }
  .line-22-p {
    line-height: 22px;
  }
  .column-reverse-p {
    flex-direction: column-reverse;
  }
  .modal {
    padding: 0 12px;
  }
  .p-side-10-p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .swipe-box-p {
      width: 100%;
      overflow-x: scroll!important;
      white-space: nowrap;
      display: flex!important;
  }
  .full-p {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .gap-15-p {
    gap: 15px;
  }
  .gap-30-p {
    gap: 30px;
  }
  .flex-column-p {
    flex-direction: column;
  }
  .d-flex-p {
    display: flex;
  }
  .space-between-p {
    justify-content: space-between;
  }
  .open-mobile-icon {
      background-color: transparent;
      border: 0;
      margin-left: 8px;
      display: flex;
      padding: 0;
  }
  .mobile-menu-box {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #293542;
      transform: translateX(-100%);
      z-index: 10;
      transition: .4s;
  }
  .mobile-menu-box.active {
    transform: translateX(0);
  }
  .mobile-menu {
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
  .mobile-menu .header-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
  }
  .mobile-menu li {
      margin: 20px 0;
      z-index: 2;
  }
  .mobile-menu li a {
      text-decoration: none;
      color: white;
      transition: 2s;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 500;
      mix-blend-mode: difference;
  }
  .header-menu li.current-menu-item a {
    color: var(--main-color);
  }
  .close-menu-icon {
    fill: var(--main-color);
    width: 50px;
  }
  .video-modal iframe {
    width: 100%;
  }
  .doctors-slider .swiper-slide:nth-of-type(even) {
    top: 0!important;
  }
}

